page-selectservices {

    .item-inner {
        margin-left: -25px;
    }

    .item-md-top-border{
        border-top: 1px solid gainsboro !important;
    }

    .item-md{
        color: gray !important;
    }

    ion-note {
        color: gray !important;
        margin-left: -25px !important;
    }

    .checkbox-md{      
    z-index: -9;
    }

    .item-md{
        font-size: 1.3rem !important;
    }
    .toolbar-background-md {
        background: #1C71A6;    
    }
    .toolbar-content-md{
        margin-left: 7%;
    }

    .item-md p {
        font-size: 1.2rem;
        margin-left: 22px;
        font-weight: 400;
    }

    ion-label {
        font-size: 13px;
        font-weight: 500;
    }

    .label-md {
        margin: 5px 8px 9px 0 !important;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #FFFFFF;
    }

    .toolbar-background{
        background: #1C71A6; 
    }

    .logo_text{
        border-color: blue;
        border: 1px blue solid;
        font-size: x-large;
        color: white;
        box-shadow: 0px 0px 2px 1px #000000;
    }

    .toolbar-title-md {
        color: white;
    }
    .center{
        text-align: center;
    }

    .white{
        color: white;
    }

    .large{
        font-size: large;
    } 
    .textCut{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 60%;
    }

    .info-icon{
        font-family: 'Lora', serif;
        font-weight: bold;
        font-style: italic;
        font-size: 1.6rem;        
        padding-left: 4px;
        padding-right: 10px;
        z-index: 10;
    }
}
