page-request {
    .toolbar-background {
      background: #1C71A6;
  }
    .toolbar-background-md {
      background: #1C71A6;    
  }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #FFFFFF;
    }

    .logo_text{
        border-color: blue;
        border: 1px blue solid;
        font-size: x-large;
        color: white;
        box-shadow: 0px 0px 2px 1px #000000;
    }

    .toolbar-title-md {
        color: white;
    }
    .center{
        text-align: center;
    }

    .white{
        color: white;
    }

    .large{
        font-size: large;
    }

    .spinner svg {
        width: 28px;
        height: 28px;
        stroke: #444;
        fill: #444;
      }


       /* Common */

    .card-number,
    .cvv-input input,
    .month select,
    .paypal-btn,
    .proceed-btn,
    .year select {
      height : 42px;
    }

    .card-number,
    .month select,
    .year select {
      font-size   : 14px;
      font-weight : 100;
      line-height : 14px;
    }

    .card-number,
    .cvv-details,
    .cvv-input input,
    .month select,
    .year select {
      color   : #86939e;
      opacity : .7;
    }

    /* Card Number */

    .month-year{
        border: 2px solid #e1e8ee;
        border-radius: 6px;
        height: 40px;
        color: #86939e;
        opacity: .7;
    }

    .card-number {
      width         : 100%;
      margin-bottom : 20px;
      padding-left  : 20px;
      border        : 2px solid #e1e8ee;
      border-radius : 6px;
    }

    /* Date Field */

    .month select,
    .year select {
      -moz-appearance     : none;
      -webkit-appearance  : none;
      width               : 100px;
      margin-bottom       : 20px;
      padding-left        : 0px;
      border              : 2px solid #e1e8ee;
      border-radius       : 6px;
      background          : url('caret.png') no-repeat;
      background-position : 85% 50%;
    }

    .month select {
      float : left;
    }

    .year select {
      float : right;
    }

    /* Card Verification Field */

    .cvv-input input {
      width         : 145px;
      float         : left;
      padding-left  : 20px;
      border        : 2px solid #e1e8ee;
      border-radius : 6px;
      background    : #fff;
    }

    .cvv-details {
      float         : right;
      margin-bottom : 20px;
      font-size     : 12px;
      font-weight   : 300;
      line-height   : 16px;
    }

    .cvv-details p {
      margin-top : 6px;
    }

    /* Buttons Section */

    .paypal-btn,
    .proceed-btn {
      cursor: pointer;
      width         : 100%;
      border-color  : transparent;
      border-radius : 6px;
      font-size     : 16px;
    }

    .proceed-btn {
      margin-bottom : 10px;
      background    : #7dc855;
    }

    .paypal-btn a,
    .proceed-btn a {
      text-decoration : none;
      cursor          : pointer;
    }

    .proceed-btn a {
      color : #fff;
    }

    .paypal-btn a {
      color : rgba(242, 242, 242, 0.7);
    }

    .paypal-btn {
      padding-right : 95px;
      background    : url('paypal-logo.svg') no-repeat 65% 56% #009cde;
    }

    .toolbar-content-md{
      margin-left: 20%;
  }
}
