page-becomeserviceprovider {
    .toolbar-background{
        background: #1C71A6; 
    }

    .toolbar-background-md {
        background: #1C71A6;    
    }

    .toolbar-title-md {
        color: white;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #FFFFFF;
    }    
}
