<!--
  Generated template for the AvaliableservieproviderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <img src="../../assets/imgs/header_icon.jpg">
    </button>
    <ion-title>Service Provider </ion-title>
    <button ion-button end menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

  </ion-navbar>
</ion-header>


<ion-content padding class="center">
  <p class="center large">Here's your service provider.</p>
  <img src="../../assets/imgs/profile.png">
  <p class="center" style="color:green">"On My Way" </p> 
  <p> {{serviceProvider.cellNumber}} <ion-icon name="call" (click)="callProvider()"
      style="color: blue; padding-left: 5px;"></ion-icon><br> {{serviceProvider.name}}
  </p>
</ion-content>

<ion-footer class="background-color">
  <ion-toolbar class="background-color">
    <ion-row style="height: 20px;">
      <ion-col>
        <button (click)="cancel()" class="linkbutton" ion-button icon-only clear style="margin-top: -15px;color: #ffffff !important;">
          Cancel
        </button>
      </ion-col>
      <ion-col style="text-align: center;">
        <button (click)="start()" class="linkbutton" *ngIf="!showComplete" ion-button icon-only clear style="margin-top: -15px;color: #ffffff !important;">
          Start
        </button>
        <button (click)="complete()" class="linkbutton" *ngIf="showComplete" ion-button icon-only clear style="margin-top: -15px;color: #ffffff !important;">
          Complete
        </button>

      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-footer>