page-termsandconditions {
    .main{
        padding: 5px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(242, 242, 242);
    padding-top: 80px;
    padding-bottom: 40px;
    color: #000;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 2.3125rem;
    }

    .toolbar-background-md {
        background: #1C71A6;    
    }

    .toolbar-title-md {
        color: white;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #FFFFFF;
    }

    .toolbar-background{
        background: #1C71A6; 
    }
}
